.image{
    width: 100%;
    height: 75%;
}
.home-bg{
    width: 100vw;
}
.home{
    width: 75vw;
    align-items: center;
    
}

hr{
    width: 98vw;
}
h1{
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
    background-color:rgb(229, 236, 193);
}
ul{
    padding: 0px;
    list-style: none;
    width: 100vw;
    display: flex;
    flex-direction:column ;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}
.post-card{
    border: 2px solid #bfbfbf;
    margin: 10px;
    width: 70%;
    height: 600px;
    background-color: #ffff;
}
.text{
    font-size: 18px;
    margin-left: 10px;
    font-family: sans-serif;
}
.loader{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@media (max-width : 768px) {
    .post-card{
        width: 95%;
        height: 500px;
    }.home-container{
        align-items: flex-start;
    }.image{
        height: 70%;
    }
}

@media (max-width : 576px) {
    hr{
        width: 100vw;
    }
    .post-card{
        width: 95%;
        height: 370px;
        padding-bottom: 5px;
    }
    .home-container{
        align-items: flex-start;
    }.home{
        width: 100vw;
        
    }.image{
        height: 70%;
    }
}